.button {
    padding: 8px;
    margin: 4px;
    background: var(--accent-color);
    color: white;
    text-decoration: none;
    display: block;
    min-width: 5rem;
    text-align: center;
    border-radius: 4px;
}

.button-color-discord {
    background: var(--discord-blurple);
}
.button-color-telegram {
    background: var(--telegram-blue);
}
.button-color-vk {
    background: var(--vk-blue);
}

.button-no-margin-x {
    margin-left: 0;
    margin-right: 0;
}

.button-full {
    width: 100%;
}

.button-full-children * {
    width: 100%;
}